$primary-color: black;
$secondary-color: white;
$tertiary-color: #b30f15;

.article{
    margin: 40px  30px;
        &__title{
            text-align: center;
            font-size: 2rem;
        }
        &__div{
            width:260px;
                &--img{
                    margin-top: 60px;
                }
                &--description{
                    margin-left:10px;
                    margin-bottom:5px;
                }
                &--para{
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
                &--button{
                    text-decoration: none;
                    color: $primary-color;
                    border: 1.5px solid $primary-color;
                    padding: 7px 20px;
                    border-radius: 4px;
                    margin: 50px 5px 30px 10px;
                        &:hover{
                            background-color: $primary-color;
                            color: $secondary-color;
                            transition: 0.5s;
                        }
                }
        }

}