$primary-color: black;
$secondary-color: white;

.article{
    margin: 40px  30px;
        &__title{
            text-align: center;
            font-size: 2rem;
        }
        &__div{
            width:260px;
                &--img{
                    margin-top: 60px;
                }
                &--description{
                    margin-left:10px;
                    margin-bottom:5px;
                }
                &--para{
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
                &--button{
                    text-decoration: none;
                    color: $primary-color;
                    border: 1.5px solid $primary-color;
                    padding: 7px 20px;
                    border-radius: 4px;
                    margin: 50px 5px 30px 10px;
                        &:hover{
                            background-color: $primary-color;
                            color: $secondary-color;
                            transition: 0.5s;
                        }
                }
        }

}

@media screen and (min-width: 768px) {
    .article {
        margin: 50px;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      }
      .article__div {
        width: 30rem;
      }
      .article__title {
        font-size: 2rem;
        text-align: center;
        width: 100%;
      }
}

@media screen and (min-width: 1024px){
    .article {
        margin: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        &__title {
          font-size: 2.5rem;
          text-align: center;
          width: 100%;
        }
        &__div {
          width: 260px;
        }
        
        }
      }
    
