.article {
  margin: 40px 30px;
}
.article__title {
  text-align: center;
}
.article__div {
  width: 260px;
}
.article__div--img {
  margin-top: 60px;
}
.article__div--description {
  margin-left: 10px;
  margin-bottom: 5px;
}
.article__div--para {
  margin-left: 10px;
  margin-bottom: 20px;
}
.article__div--button {
  text-decoration: none;
  color: black;
  border: 1.5px solid black;
  padding: 7px 20px;
  border-radius: 4px;
  margin: 50px 5px 30px 10px;
}
.article__div--button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav {
  display: none;
}

.header {
  margin: 30px;
}
.header__name {
  margin-bottom: 15px;
}
.header__intro {
  font-size: 3rem;
  font-weight: 500;
}

.main {
  margin: 30px;
}
.main__about {
  text-align: center;
  margin-top: 80px;
}
.main__description {
  line-height: 2rem;
}

.section {
  margin: 30px;
}
.section__about {
  text-align: center;
  margin-top: 80px;
}
.section__description {
  line-height: 2rem;
  text-align: center;
  margin: 30px 0px;
}
.section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-evenly;
}
.section__container--icon {
  height: 3rem;
}

.footer {
  height: 150px;
  background-color: black;
}
.footer__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.footer__container--icon {
  height: 2rem;
}
.footer__email {
  color: white;
  margin: 15px;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: unset;
    display: flex;
    justify-content: end;
    margin: 60px 0;
  }
  .nav__button {
    margin-right: 60px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .nav__button--contact {
    border: 1px solid black;
    padding: 7px 20px;
    border-radius: 10px;
    margin-top: -4px;
  }
  .header {
    margin: 80px;
  }
  .header__name {
    font-size: 2.5rem;
  }
  .header__intro {
    font-size: 5rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8rem 2rem 25rem;
    margin: 80px;
  }
  .main__about {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: left;
    font-size: 2.5rem;
  }
  .main__description {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .section {
    margin: 0 150px;
  }
  .section__about {
    font-size: 2.5rem;
  }
  .section__description {
    font-size: 1.5rem;
  }
  .section__container--icon {
    height: 5rem;
    margin-top: 30px;
  }
  .article {
    margin: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .article__title {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }
  .footer__container {
    justify-content: end;
    text-align: unset;
  }
  .footer__container--icon {
    height: 3rem;
    margin-right: 25px;
  }
  .footer__email {
    display: flex;
    margin-left: 80px;
    margin-top: -35px;
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */