@use "_article-card.scss";
$primary-color: black;
$secondary-color: white;
$tertiary-color: #e5c2f0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav{
    display: none;
} 

.header{
    margin: 30px;
        &__name{
            margin-bottom: 15px;
        }
        &__intro{
            font-size: 3rem;
            font-weight: 500;
        }
}

.main {
    margin: 30px;
        &__about{
            text-align: center;
            margin-top: 80px;
        }
        &__img{
            width: 15rem;
            
        }
        &__description{
            line-height: 2rem;
        }
}

.section{
    margin:30px;
        &__about{
         text-align: center;
         margin-top: 80px;
        }
        &__description{
            line-height: 2rem;
            text-align: center;
            margin: 30px 0px;
        }
        &__container {
            display:flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: space-evenly;
                &--icon{
                    height:3rem;
                }
            
        }
}


.footer{
    height: 150px;
    background-color: $primary-color;
    &__container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
            &--icon{
                height:2rem;
        }
    }
    &__email{
        color: $secondary-color;
        margin: 15px;
        text-align: center;
        font-size: 1rem;
    }
        
}

@media screen and (min-width: 1024px){
    .nav{
        background-color: $tertiary-color;
        display: unset;
        display: flex;
        justify-content: end;
        padding: 60px 0;  
            &__button{
                margin-right: 50px;
                font-size: 1.8rem;
                text-decoration: none;
                color: $primary-color;
                font-weight:bold;
                &--contact{
                    border: 1px solid $primary-color;
                    padding: 7px 20px;
                    border-radius: 10px;
                    margin-top:-4px;
                        &:hover{
                            font-size: 2rem;
                    transition: 0.5s;
                    color: grey;
                    border: 1px solid grey;
                    
                        }
                }
                &:hover{
                    font-size: 2rem;
                    transition: 0.5s;
                    color: grey;
                    
                }
            }
     }

     .header{
        margin: 80px;
            &__name{
                font-size: 2.5rem;
            }
            &__intro{
                font-size: 5rem;
            }
     }

     .main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 8rem 2rem 25rem;
        margin: 80px;
            &__about{
                grid-column-start: 2;
                grid-row-start: 1;
                text-align:left;
                font-size: 2.5rem;
            }
            &__img{
                grid-row-start: 2;
                height: 20rem;
            }
            &__description{
                grid-column-start: 2;
                grid-row-start: 3 ;
                font-size: 1.5rem;
                line-height: 35px;
            }
     }

     .section {
        margin: 0 150px;
            &__about {
                font-size: 2.5rem;
            }
            &__description {
                font-size: 1.5rem;
            }
            &__container--icon{
                height: 3rem;
                margin-top: 30px;
                    
            }
     }

     

     .article{
        margin:80px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
            &__title{
             font-size: 2.5rem;
             text-align: center;
             width: 100%;
            }     
        }
            
     
    
    .footer{
        &__container{
            justify-content: end;
            text-align: unset;
                &--icon{
                    height: 3rem;
                    margin-right: 25px;
                }
        }
        &__email{
            display:flex;
            margin-left: 80px;
            margin-top:-35px;
            font-size: 1.5rem;
        }
      }
     
    }